

html, 
body {
	height: 100%;
	margin: 0;
	background: rgb(247,247,220);
	background: linear-gradient(180deg, rgba(247,247,220,1) 0%, rgba(247,247,220,1) 60%, rgba(34,207,242,1) 100%);
}

.navbar {
	background-color: transparent !important;
}

.navbar h1 {
	font-family: Georgia, serif;
    font-weight: bold;
}

#subtitle {
	color: #636363;
}

#map {
	width: 800px;
	height: 600px;
	margin: 0 auto;
}
/*
#content {
	margin-top: 25%;
	margin-left: 50%;
	position: absolute:
	top: 0;
	left: 0;
	transform: translate(-50%,-50%);
	width: 800px;
}*/

.flex-center {
  display: flex;
  align-items: center;
}

#value {
	margin: 1em 0;
}