

html, 
body {
	height: 100%;
	margin: 0;
}

#map {
	width: 800px;
	height: 600px;
	margin: 0 auto;
}
/*
#content {
	margin-top: 25%;
	margin-left: 50%;
	position: absolute:
	top: 0;
	left: 0;
	transform: translate(-50%,-50%);
	width: 800px;
}*/

#value {
	margin: 1em 0;
}